{{ 'scrolling-text-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .scrolling-text-bar-section-{{ section.id }} .scrolling-text-bar {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;

        background: {{ section.settings.tapes_background }};
    }

    .scrolling-text-bar-section-{{ section.id }} .scrolling-text-bar-2 {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;

        background: {{ section.settings.tapes_background_2 }};
    }

    .scrolling-text-bar-section-{{ section.id }} .scrolling-text-bar .message {
        {% comment %}font-size: {{ section.settings.mob_message_size }}px;{% endcomment %}
        color: {{ section.settings.colorText }};

        font-size: calc({{ section.settings.mob_message_size }}px + ({{ section.settings.desk_message_size }} - {{ section.settings.mob_message_size }}) * ((100vw - 375px) / (1440 - 375)));
    }

    .scrolling-text-bar-section-{{ section.id }} .scrolling-text-bar-2 .message {
        color: {{ section.settings.colorText_2 }};
    }

    .scrolling-text-bar-wrap-has-two-tapes {
        background: {{ section.settings.section_background }};
        margin-top: -2px;
        overflow: hidden;
    }

    .scrolling-text-bar-section-{{ section.id }}.scrolling-text-bar-border .scrolling-text-bar {
        border-top: 2px solid {{ section.settings.border_color }};
        border-bottom: 2px solid {{ section.settings.border_color }};
    }

    @media screen and (min-width: 750px) {
        .scrolling-text-bar-section-{{ section.id }} .scrolling-text-bar, .scrolling-text-bar-section-{{ section.id }} .scrolling-text-bar-2 {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }

        {% comment %}.scrolling-text-bar-section-{{ section.id }} .scrolling-text-bar .message {
            font-size: {{ section.settings.desk_message_size }}px;
        }{% endcomment %}

        .scrolling-text-bar-section-{{ section.id }}.scrolling-text-bar-border .scrolling-text-bar {
            border-top-width: 4px;
            border-bottom-width: 4px;
        }
    }
{%- endstyle -%}

<div class="scrolling-text-bar-section-{{ section.id }} {%- if section.settings.has_border != blank -%} scrolling-text-bar-border {%- endif -%}">
    <div class="scrolling-text-bar-wrap scrolling-text-bar-wrap-{%- if section.settings.two_tapes != blank -%} has-two-tapes{%- endif -%} ">
        {%- if section.settings.two_tapes != blank -%}
            <div class="scrolling-text-bar scrolling-text-messages scrolling-text-bar-1" data-speed="{{ section.settings.speed }}">
                <div class="message-wrap">
                    {%- for block in section.blocks -%}
                        {% case block.type %}
                            {% when 'text' %}
                                {%- if block.settings.message_1 != blank -%}<span class="message">{{ block.settings.message_1 }}</span>{% endif %}
                                {%- if block.settings.message_1 != blank -%}<span class="message-separator">{{ block.settings.separator | image_url: width: 40 | image_tag }}</span>{% endif %}
                                {%- if block.settings.message_2 != blank -%}<span class="message">{{ block.settings.message_2 }}</span>{% endif %}
                                {%- if block.settings.message_2 != blank -%}<span class="message-separator">{{ block.settings.separator | image_url: width: 40 | image_tag }}</span>{% endif %}
                                {%- if block.settings.message_3 != blank -%}<span class="message">{{ block.settings.message_3 }}</span>{% endif %}
                                {%- if block.settings.message_3 != blank -%}<span class="message-separator">{{ block.settings.separator | image_url: width: 40 | image_tag }}</span>{% endif %}
                                {%- if block.settings.message_4 != blank -%}<span class="message">{{ block.settings.message_4 }}</span>{% endif %}
                                {%- if block.settings.message_4 != blank -%}<span class="message-separator">{{ block.settings.separator | image_url: width: 40 | image_tag }}</span>{% endif %}
                        {% endcase %}
                    {%- endfor -%}
                </div>
            </div>
            <div class="scrolling-text-bar scrolling-text-messages scrolling-text-bar-2" data-speed="{{ section.settings.speed }}">
                <div class="message-wrap">
                    {%- for block in section.blocks -%}
                        {% case block.type %}
                            {% when 'text' %}
                                {%- if block.settings.message_5 != blank -%}<span class="message">{{ block.settings.message_5 }}</span>{% endif %}
                                {%- if block.settings.message_5 != blank -%}<span class="message-separator">{{ block.settings.separator_2 | image_url: width: 40 | image_tag }}</span>{% endif %}
                                {%- if block.settings.message_6 != blank -%}<span class="message">{{ block.settings.message_6 }}</span>{% endif %}
                                {%- if block.settings.message_6 != blank -%}<span class="message-separator">{{ block.settings.separator_2 | image_url: width: 40 | image_tag }}</span>{% endif %}
                                {%- if block.settings.message_7 != blank -%}<span class="message">{{ block.settings.message_7 }}</span>{% endif %}
                                {%- if block.settings.message_7 != blank -%}<span class="message-separator">{{ block.settings.separator_2 | image_url: width: 40 | image_tag }}</span>{% endif %}
                                {%- if block.settings.message_8 != blank -%}<span class="message">{{ block.settings.message_8 }}</span>{% endif %}
                                {%- if block.settings.message_8 != blank -%}<span class="message-separator">{{ block.settings.separator_2 | image_url: width: 40 | image_tag }}</span>{% endif %}
                        {% endcase %}
                    {%- endfor -%}
                </div>
            </div>
        {%- else -%}
            <div class="scrolling-text-bar scrolling-text-messages" data-speed="{{ section.settings.speed }}">
                <div class="message-wrap">
                    {%- for block in section.blocks -%}
                        {% case block.type %}
                            {% when 'text' %}
                                {%- if block.settings.message_1 != blank -%}<span class="message">{{ block.settings.message_1 }}</span>{% endif %}
                                {%- if block.settings.message_1 != blank -%}<span class="message-separator">{{ block.settings.separator | image_url: width: 40 | image_tag }}</span>{% endif %}
                                {%- if block.settings.message_2 != blank -%}<span class="message">{{ block.settings.message_2 }}</span>{% endif %}
                                {%- if block.settings.message_2 != blank -%}<span class="message-separator">{{ block.settings.separator | image_url: width: 40 | image_tag }}</span>{% endif %}
                                {%- if block.settings.message_3 != blank -%}<span class="message">{{ block.settings.message_3 }}</span>{% endif %}
                                {%- if block.settings.message_3 != blank -%}<span class="message-separator">{{ block.settings.separator | image_url: width: 40 | image_tag }}</span>{% endif %}
                                {%- if block.settings.message_4 != blank -%}<span class="message">{{ block.settings.message_4 }}</span>{% endif %}
                                {%- if block.settings.message_4 != blank -%}<span class="message-separator">{{ block.settings.separator | image_url: width: 40 | image_tag }}</span>{% endif %}
                        {% endcase %}
                    {%- endfor -%}
                </div>
            </div>
        {%- endif -%}
    </div>
</div>



{% schema %}

{
    "name": "Scrolling text",
    "tag": "section",
    "class": "section scrolling-text-section",
    "settings":
        [
            {
                "type": "color",
                "id": "section_background",
                "label": "Section background",
                "default": "#ffffff"
            },
            {
                "type": "header",
                "content": "Has border"
            },
            {
                "type": "checkbox",
                "id": "has_border",
                "default": false,
                "label": "Has border"
            },
            {
                "type": "color",
                "id": "border_color",
                "label": "Border color",
                "default": "#ffffff"
            },
            {
                "type": "header",
                "content": "Two tapes"
            },
            {
                "type": "checkbox",
                "id": "two_tapes",
                "default": false,
                "label": "Two tapes"
            },
            {
                "type": "text",
                "id": "speed",
                "label": "Speed",
                "default": "15"
            },
            {
                "type": "color",
                "id": "colorText",
                "label": "The text color of the first tapes",
                "default": "#ffffff"
            },
            {
                "type": "color",
                "id": "colorText_2",
                "label": "The text color of the second tapes",
                "default": "#ffffff"
            },
            {
                "type": "range",
                "id": "desk_message_size",
                "min": 0,
                "max": 48,
                "step": 1,
                "unit": "px",
                "label": "Message size on desktop",
                "default": 20
            },
            {
                "type": "range",
                "id": "mob_message_size",
                "min": 0,
                "max": 48,
                "step": 1,
                "unit": "px",
                "label": "Message size on mobile",
                "default": 16
            },
            {
                "type": "color",
                "id": "tapes_background",
                "label": "The text background of the first tapes",
                "default": "#ffffff"
            },
            {
                "type": "color",
                "id": "tapes_background_2",
                "label": "The text background of the second tapes",
                "default": "#ffffff"
            },
            {
                "type": "header",
                "content": "t:sections.all.padding.section_padding_heading"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 2,
                "unit": "px",
                "label": "t:sections.all.padding.padding_top",
                "default": 20
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 2,
                "unit": "px",
                "label": "t:sections.all.padding.padding_bottom",
                "default": 20
            }
        ],
        "blocks":
            [
                {
                    "type": "text",
                    "name": "Message",
                    "limit": 1,
                    "settings": [
                        {
                            "type": "image_picker",
                            "id": "separator",
                            "label": "Image separator"
                        },
                        {
                            "id": "message_1",
                            "type": "textarea",
                            "label": "Message 1"
                        },
                        {
                            "id": "message_2",
                            "type": "textarea",
                            "label": "Message 2"
                        },
                        {
                            "id": "message_3",
                            "type": "textarea",
                            "label": "Message 3"
                        },
                        {
                            "id": "message_4",
                            "type": "textarea",
                            "label": "Message 4"
                        },
                        {
                            "type": "image_picker",
                            "id": "separator_2",
                            "label": "Image separator"
                        },
                        {
                            "id": "message_5",
                            "type": "textarea",
                            "label": "Message 1"
                        },
                        {
                            "id": "message_6",
                            "type": "textarea",
                            "label": "Message 2"
                        },
                        {
                            "id": "message_7",
                            "type": "textarea",
                            "label": "Message 3"
                        },
                        {
                            "id": "message_8",
                            "type": "textarea",
                            "label": "Message 4"
                        }
                    ]
                }
            ],

    "presets": [
        {
            "name": "Scrolling text",
            "blocks": [
                {
                    "type": "text"
                }
            ]
        }
    ]
}

{% endschema %}