{{ 'subscribe-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    .calendar-section {
        background-color: {{ section.settings.color_bg }};
    }

    .subscribe-section .title {
        color: {{ section.settings.color_title }};
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{%- endstyle -%}

<div class="subscribe-section section-{{ section.id }}-padding">
    <div class="page-width">
        <h2 class="title">{{ section.settings.title }}</h2>
    </div>
    <div class="subscribe-wrap swiper" id="subscribe-wrap-{{ section.id }}">
        <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
            {%- if block.settings.image_with_text_image != blank -%}
                <div class="subscribe-column swiper-slide">
                    <div class="card-layer"><span></span><span></span><span></span></div>
                    <div class="image-wrap">
                        {{ block.settings.image_with_text_image | image_url: width: 293 | image_tag }}
                    </div>
                </div>
            {% endif %}
        {%- endfor -%}
        </div>
    </div>
</div>

{% schema %}

{
    "name": "Subscribe section",
    "settings": [
        {
            "type": "inline_richtext",
            "id": "title",
            "default": "Title",
            "label": "Title"
        },
        {
            "type": "color",
            "id": "color_title",
            "label": "Title color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "color_bg",
            "label": "Section background",
            "default": "#ffffff"
        },
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 20
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 20
        }
    ],
    "blocks": [
        {
        "type": "card",
        "name": "Column name",
        "settings": [
            {
                "type": "header",
                "content": "Image"
            },
            {
                "type": "image_picker",
                "id": "image_with_text_image",
                "label": "Image"
            }
            ]
        }
    ],
    "presets": [
        {
            "name": "Subscribe section",
            "blocks": [
                {
                    "type": "card"
                },
                {
                    "type": "card"
                },
                {
                    "type": "card"
                }
            ]
        }
    ]
}
{% endschema %}
